.home-container {
  text-align: center;
  width: 100%; /* Adjust the width as needed */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  position: relative;
  z-index: 1;
}

.home-image-container {
  position: relative;
  display: inline-block; 
}

.home-image {
  max-width: 100%;
  height: auto;
}

.home-text {
  position: absolute;
  margin-top: 8%;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  width: 40%;
  opacity: 0; /* Initially hide the text */
  transition: opacity 1s ease; /* Apply transition effect */
}

.home-text.show {
  opacity: 1; /* Show the text */
}

.home-content {
  font-size: 30px;
  text-align: left;
  font-family: 'Helvetica', sans-serif;
}

.home-title {
  font-size: 50px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif; /* Apply bold font */
  font-weight: 700;
}

.aboutme-title a {
  text-decoration: none;
  color: #2c2b32;
  text-align: center;
}

.underline {
  background-color: #632aae;
  height: 3px;
  width: 100px;
  margin: 1rem auto;
}

.aboutme-text {
  background: linear-gradient(135deg, rgb(255, 53, 110), #4d9aff, #0263be);
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.53);
  text-align: center;
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center ;
  margin: 1rem auto;
  font-size: 25px;
  color: white;
}

.aboutme-text p {
  margin: 0;
}

.styled-text {
  font-family: 'Helvetica', sans-serif;
}

.styled-highlight {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #69fff5;
  ;
}

/* For mobile devices */
@media (max-width: 600px) {
  .home-title {
    font-size: 20px;
  }

  .home-content {
    font-size: 14px;
  }
  
  .aboutme-text {
    width: 90%; /* Adjust the width for smaller screens */
    height: auto; /* Adjust the height for smaller screens */
    font-size: 20px; /* Adjust the font size for smaller screens */
    padding-left: 15px; /* Adjust padding for smaller screens */
    padding-right: 15px; /* Adjust padding for smaller screens */
  }
}
