/* Navbar.css */

.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Align items vertically */
}

.navbar-logo img {
    height: 40px;
    width: auto;
    margin-right: 20px; /* Add spacing between logo and links */
}

.navbar-toggle {
    display: none;
    transition: transform 0.5s ease;
    outline: none;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 3%;
}

.navbar-links li {
    margin-right: 30px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
}

.navbar-links li svg {
    fill: #ffffff; 
    margin-right: 3px; 
    width: 18px; 
    height: 18px; 
}

.navbar-links li a.active {
    color: skyblue; /* Change the color of the active link */
    font-weight: bold; /* Make the active link bold */
}

/* Change icon color to skyblue when its parent link is active */
.navbar-links li a.active svg {
    fill: skyblue;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    /* Show the close icon when the navbar links are open */
    .navbar-links.open {
        display: flex; /* Show navbar links when the menu is opened */
        flex-direction: column;
        background-color: rgba(51, 51, 51, 0.9);
        position: absolute;
        top: 50px;
        left: 0;
        width: 150px; /* Set width for the sidebar */
        padding: 50px; /* Add padding for spacing */
        overflow-y: overlay;
        align-items: flex-start; /* Align items to the left */
        left: -5%;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        order: 1; 
        transition: transform 0.5s ease;
        outline: none;
    }

    .navbar-links {
        font-size: large;
        display: none;
    }

    .navbar-links li {
        display: block;
        margin-right: 0;
        margin-bottom: 20px; /* Adjust spacing between links */
    }

    .navbar-links li a {
        color: #fff;
        text-decoration: none;
    }

    .navbar-links li a.active {
        color: skyblue; /* Change the color of the active link */
        font-weight: bold; /* Make the active link bold */
    }

    /* Adjust top space for the Home link */
    .navbar-links li:first-child {
        margin-top: 20px; /* Adjust the top margin as needed */
    }

    /* Style icons */
    .navbar-links li svg {
        fill: #fff; /* Set icon color to white */
        margin-right: 5px; /* Add spacing between icon and link text */
    }

    .navbar-logo {
        order: 3; /* Move the logo to the left */
        margin-right: -2%;
    }
}
