.navbar {
    background: linear-gradient(135deg, rgba(255, 0, 102, 0.742), #0095f154);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}


.navbar-logo img {
    height: 40px;
    width: auto;
    margin-left: 10px;
    margin-right: 20px; 
}

.navbar-toggle {
    display: none;
    transition: transform 0.5s ease;
    outline: none;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 10px;
}

.navbar-links li {
    margin-right: 30px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
}

.navbar-links li a.active {
    color: skyblue;
}

.navbar-links li a:hover {
    color: #380878;
    font-weight: bold;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    /* Show the close icon when the navbar links are open */
    .navbar-links.open {
        display: flex; /* Show navbar links when the menu is opened */
        flex-direction: column;
        background: linear-gradient(135deg, rgba(255, 0, 102, 0.742), #0095f154);
        position: absolute;
        top: 75px;
        left: 0;
        width: 150px; /* Set width for the sidebar */
        padding: 75px; /* Add padding for spacing */
        padding-top: 30px;
        padding-right: 40px;
        padding-bottom: 100%;
        overflow-y: overlay;
        align-items: flex-start; /* Align items to the left */
        left: -5%;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        order: 1; 
        transition: transform 0.5s ease, color 0.3s ease; 
        outline: none;
    }

    .navbar-links {
        font-size: medium;
        display: none;
    }

    .navbar-links li {
        display: block;
        margin-right: 0;
        margin-bottom: 30px; /* Adjust spacing between links */
    }

    .navbar-links li a {
        color: #fff;
        text-decoration: none;
    }

    .navbar-links li a:hover {
        color: #380878;
        font-weight: bold;
    }

    .navbar-toggle:hover {
        color: #380878;
        font-weight: bold;
    }

    .navbar-logo {
        order: 3; /* Move the logo to the left */
        margin-right: 20px;
    }
}
